@page "/"
@using FeTracker.Common.RazorComponents;

<div class="restream-container @AppState.BackgroundClass">
    <div class="upper-container">
        <VideoArea />
        <HeroDisplay />
        <VideoArea />
    </div>
    <div class="lower-container">
        <PlayerSection PlayerName="@AppState.LeftPlayerName" Pronouns="@AppState.LeftPlayerPronouns"
                       PlayerSide="tracker-left" />
        <ObjectiveDisplay />
        <PlayerSection PlayerName="@AppState.RightPlayerName" Pronouns="@AppState.RightPlayerPronouns"
                       PlayerSide="tracker-right" />
    </div>
</div>
<br />
<div class="data-entry-container entry-grid">
    <PlayerDataInput />
    <ObjectiveInput />
    <HeroInput />
    <RestreamSizeInfo />
    <HideTrackers />
    <BackgroundSelect />
</div>

@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new CascadingAppState();
}
