@using FE.Restream.Enums;

<div class="HeroSelection">
    <h3>Hero Selection:</h3>
    <div class="hero-selection-grid">
        <InputRadioGroup @bind-Value="@AppState.HeroName" Name="heroSelectionRadioGroup">

            @for (var i = 0; i < HeroOptions.Length; i++)
            {
                var option = HeroOptions[i];
                <div class="@option">


                    <InputRadio Value="option" id="@option" />

                    <label for="@option">@option</label>
                </div>
            }
        </InputRadioGroup>
    </div>

</div>

@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new();

    string[] HeroOptions = Enum.GetNames<HeroCharacter>();
}
